<p>This is index - page!</p><br /><br />

<input type="button" onclick="location.href='/update';" value="Update - page" />
<input type="button" onclick="location.href='/search';" value="Search - page" />