<p>This is update - page!</p><br /><br />


<input type="button" onclick="location.href='/';" value="Index - page" />
<input type="button" onclick="location.href='/search';" value="Search - page" /> <br /><br />

<input type="button" onclick="location.href='/update/add';" value="Add - page" />
<input type="button" onclick="location.href='/update/remove';" value="Remove - page" />
<input type="button" onclick="location.href='/update/modify';" value="Modify - page" />