<p>This is search - page!</p><br /><br />


<input type="button" onclick="location.href='/';" value="Index - page" />
<input type="button" onclick="location.href='/update';" value="Update - page" /><br /><br />
