<div *ngIf="validationAlert" class="alertBox" role="alert">
  <p align="center">Täytä koko lomake ennen lähettämistä!</p>
</div>

<div class="container">
  <h3>Ilmoittautumislomake</h3>
  <form [formGroup]="userForm" novalidate> <!-- novalidate tells the browser not to try any native HTML validations on this element -->
    <div class="form-group">
      <label for="name">Nimi</label>
      <input type="text" class="form-control" formControlName="name" required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" formControlName="email" required>
    </div>

    <div class="form-group">
      <label for="food">Ruoka</label>
      <select class="form-control" formControlName="food" required>
        <option *ngFor="let food of foods" [value]="food">{{food}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="food">Sauna</label>
      <input type="checkbox" class="radioButton" formControlName="sauna">
    </div>

    <button type="submit" class="btn btn-success" (click)="onSubmit()">Lähetä</button>

  </form>

</div>