#main-section {
    margin: auto;
    margin-top: 10px;
    width: 50%;
    padding: 20px;
    background-color: rgb(134, 134, 134);
    border-radius: 10px;
    border: 2px rgb(177, 177, 177) solid;
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(219, 219, 219);
}